<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline Service</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script th:inline="javascript"> </script>

    <script>
        // 미리 작성된 영역 - 수정하지 않으셔도 됩니다.
        // 사용자가 내용을 올바르게 입력하였는지 확인합니다.
        function isValidContents(contents) {
            if (contents == '') {
                alert('내용을 입력해주세요');
                return false;
            }
            if (contents.trim().length > 140) {
                alert('공백 포함 140자 이하로 입력해주세요');
                return false;
            }
            return true;
        }




        // 수정 버튼을 눌렀을 때, 기존 작성 내용을 textarea 에 전달합니다.
        // 숨길 버튼을 숨기고, 나타낼 버튼을 나타냅니다.
        function editPost(id) {
            showEdits(id);
            let contents = $(`#${id}-contents`).text().trim();
            $(`#${id}-textarea`).val(contents);
        }

        function showEdits(id) {
            $(`#${id}-editarea`).show();
            $(`#${id}-submit`).show();
            $(`#${id}-delete`).show();
            $(`#${id}-contents`).hide();
            $(`#${id}-edit`).hide();
        }

        function hideEdits(id) {
            $(`#${id}-editarea`).hide();
            $(`#${id}-submit`).hide();
            $(`#${id}-delete`).hide();

            $(`#${id}-contents`).show();
            $(`#${id}-edit`).show();
        }

        function hideEdits(id) {
            $(`#${id}-edit`).hide();
            $(`#${id}-delete`).hide();

        }
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // 여기서부터 코드를 작성해주시면 됩니다.

        $(document).ready(function () {
            // HTML 문서를 로드할 때마다 실행합니다.
            getMessages();
        })

        // 메모를 불러와서 보여줍니다.
        function getMessages() {
            // 1. 기존 메모 내용을 지웁니다.
            //$('#cards-box').empty();
            // 2. 메모 목록을 불러와서 HTML로 붙입니다.

            let boardId= $('#id').text();
            var userId = "[[${userId}]]"


            $.ajax({
                type: 'GET',
                url: '/auth/comments',
                success: function (response) {
                    console.log(response);
                    for(let i= 0; response.length;i++){
                        let memo = response[i];
                        let id = memo.id;
                        let postUserId= memo.userId
                        let postId =memo.postId
                        let username = memo.username;
                        let modifiedAt = memo.modifiedAt;
                        let comment = memo.comments;
                            console.log(userId)
                            console.log(postUserId)
                            if(postId == boardId) {

                                if(userId!=postUserId) {

                                    hideHTML(id, username, modifiedAt, comment)

                                }
                                else{
                                    addHTML(id, username, modifiedAt, comment)


                                }
                            }

                    }
                }
            })
        }
        function hideHTML(id, username, modifiedAt,comments) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = `<div class="card">
        <!-- date/username 영역 -->
        <div class="metadata">
            <div class="date">
                ${modifiedAt}


            </div>
            <div id="${id}-username" class="username">
                ${username}

            </div>
        </div>
        <!-- contents 조회/수정 영역-->
        <div class="contents">
            <div id="${id}-contents" class="text">
                ${comments}
            </div>
            <div id="${id}-editarea" class="edit">
                <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>
        <!-- 버튼 영역-->

        <div id = "${id}-footer" class="footer">

        </div>
    </div>`;
            // 2. #cards-box 에 HTML을 붙인다.
            $('#cards-box').append(tempHtml);
        }

        // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        function addHTML(id, username, modifiedAt,comments) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = `<div class="card">
        <!-- date/username 영역 -->
        <div class="metadata">
            <div class="date">
                ${modifiedAt}


            </div>
            <div id="${id}-username" class="username">
                ${username}

            </div>
        </div>
        <!-- contents 조회/수정 영역-->
        <div class="contents">
            <div id="${id}-contents" class="text">
                ${comments}
            </div>
            <div id="${id}-editarea" class="edit">
                <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>
        <!-- 버튼 영역-->

        <div id = "${id}-footer" class="footer">
            <img id="${id}-edit" class="icon-start-edit" src="/images/edit.png" alt="" onclick="editPost('${id}')">
            <img id="${id}-delete" class="icon-delete" src="/images/delete.png" alt="" onclick="deleteOne('${id}')">
            <img id="${id}-submit" class="icon-end-edit" src="/images/done.png" alt="" onclick="submitEdit('${id}')">
        </div>
    </div>`;
            // 2. #cards-box 에 HTML을 붙인다.
            $('#cards-box').append(tempHtml);
        }

        // 메모를 생성합니다.
        function writePost() {
            //1.작성한 메모를 불러옵니다.
            let contents = $('#comments').val();
            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }

            var id = $("#id").text();
            console.log(id)
            // 4. 전달할 data JSON으로 만듭니다.
            let username = "[[ ${username} ]]";
            let data = {'username':username,'comments':contents,'postId':id};
            // 5. POST /api/memos 에 data를 전달합니다.
            $.ajax({
                type: "POST",
                url: "/api/comments",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지가 성공적으로 작성되었습니다.');
                    window.location.reload();
                }
            });
        }

        // 메모를 수정합니다.
        function submitEdit(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let username = $(`#${id}-username`).text().trim();
            let contents = $(`#${id}-textarea`).val().trim();
            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }
            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'username': username, 'comments': contents};
            // 4. PUT /api/memos/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/api/comments/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });
        }

        // 메모를 삭제합니다.
        function deleteOne(id) {
            // 1. DELETE /api/memos/{id} 에 요청해서 메모를 삭제합니다.
            if(confirm("정말 삭제하시겠습니까?")){
            $.ajax({
                type: "DELETE",
                url: `/api/comments/${id}`,
                success: function (response) {
                    alert('메시지 삭제에 성공하였습니다.');
                    window.location.reload();
                }
            })
            }
        }
        function deleteBoard() {
            // 1. DELETE /api/memos/{id} 에 요청해서 메모를 삭제합니다.
            var id = $("#id").text();
            console.log(id)
            $.ajax({
                type: "DELETE",
                url: "/api/boards/"+id,
                success: function (response) {
                    alert('메시지 삭제에 성공하였습니다.');
                    window.location.href="/"
                }
            })
        }
    </script>
</head>

<body>


<div class="background-header">

</div>
<div class="background-body">

</div>
<div class="wrap">
    <div class="header">
        <h2>    <span th:text="${username}"></span> 님의
        </h2>
        <p>
            공유하고 싶은 소식을 입력해주세요.
            24시간이 지난 뒤에는 사라집니다.
        </p>
    </div>
    <div class="card" style="">
        <div class="card-body">

<!--            <button id="${id}-delete" th:if="${board.userId} == ${userId}" class="icon-delete" alt="" onclick="|deleteBoard('${id}')|">게시글삭제</button>-->
            <h5 class="card-title"><span th:text="${board?.title}"></span></h5>
            <div>
                <h5>글</h5>
            <h5 id="id" class="card-title"><span th:text="${board?.id}"></span></h5>
            </div>
                <h6 class="card-subtitle mb-2 text-muted"><span th:text="${board?.username}"></span><span th:text="${board?.modifiedAt}"></span></h6>
            <p class="card-text"><span th:text="${board?.contents}"></span></p>
            <div>
<!--                게시글 아이디와 접속유저아이디 동일시 삭제 버튼 노출-->
                <img th:if="${board.userId} == ${userId}" class="icon-delete" src="/images/delete.png" alt="삭제" th:onclick="|deleteBoard('${id}')|">
            </div>

        </div>
    </div>
    <div class="area-write">
        <textarea class="field" placeholder="공유하고 싶은 소식을 입력해주세요" name="contents" id="comments" cols="30"
                  rows="10"></textarea>
        <!--            <button class="btn btn-danger" onclick="writePost()">작성하기</button>-->
        <img src="/images/send.png" alt="" onclick="writePost()">
    </div>
    <div id="cards-box" class="area-read">

    </div>

</div>
</body>

</html>